---
import HeroSection from "../components/HeroSection.astro";
import SubjectCard from "../components/SubjectCard.astro";
import ContactButton from "../components/ContactButton.astro";
import FAQSection from "../components/FAQSection.astro";
import SubjectsSection from "../components/SubjectsSection.astro";

const lineURL = "https://lin.ee/F0ziwOI";
const subjects = [
    {
        title: "English 🔤💬",
        description: "Personalized lessons for anyone, whether you want to learn from scratch, " +
            "or just want to practice chatting!!",
        bullets: [
            "Learn English you want to learn at your own pace!",
            "Get one-on-one conversation practice with a native speaker!",
            "Get help with homework, email corrections, etc. with in depth explanations!",
            "Prepare for tests like TOEIC, Eiken, IELTS!"
        ],
        detailsTarget: "faq-english-details"
    },
    {
        title: "Programming 💻",
        description: "Whether you have years of experience or are just starting out, let's learn to code!",
        bullets: [
            "Learn various languages (see FAQs for details)",
            "Learn other programming and computer skills, such as GitHub and CLI!",
            "Learn in Japanese, English, or a mixture of both!",
        ],
        detailsTarget: "faq-programming-details"
    }
];
const generalFAQs = [
    {
        id: "faq-contact",
        q: "🗓️ How do I schedule?",
        a: `<a href=${lineURL}>Click here to contact me on LINE!! (business account)</a>`
    },
    {
        id: "faq-location",
        q: "📍 Where do you conduct your lessons?",
        a: "We'll agree on a place to meet that works for both of us!! " +
            "Typically, lessons are conducted in a cafe or other public space, " +
            "but accommodations can be made for those who have difficulty leaving their home :)"
    },
    {
        id: "faq-kyoto-kobe",
        q: "🚇 I live in Kyoto or Kobe. Can we still meet?",
        a: "Of course!! As long as it's not too far, we can meet somewhere that's equal distance for both of us. " +
            "If you're not sure, feel free to ask :)"
    },
    {
        id: "faq-contact",
        q: "🕒 How long are your lessons? How often can we meet?",
        a: "However long and often you want, schedules permitting!! " +
            "Typically the lessons are about 1 hour, but they can be longer if there's availability!"
    },
    {
        id: "faq-first-lesson",
        q: "💸 What exactly do you mean \"the first lesson is free\"?",
        a: "The first meeting will start with us getting to know each other, " +
            "and discussing your goals and motivations, as well as your current level. " +
            "Then, we'll do a bit of practice/teaching. " +
            "You can use this first lesson to decide if the environment is right for you, " +
            "which is why I decided to make it free! That way, there's no pressure. " +
            "If you decide not to continue, that's absolutely okay! "
    },
    {
        id: "faq-commitment",
        q: "🔁 Do I have to sign up for multiple lessons at once? What if I decide it's not for me?",
        a: "You can schedule lessons whenever you like! " +
            "Some people prefer a consistent time and day, but others prefer to come in spontaneously. " +
            "If at any point you decide you'd like to stop, you can do so!"
    },
];

const englishFAQs = [
    {
        id: "faq-english-details",
        q: "🤔 What are your English lessons like?",
        a: "Lessons are based around your goals and interests, so it's really different for everyone! " +
            "For example, if you're learning English to make friends, we could focus on things like casual speech and slang. " +
            "If you're learning for your job, we can practice business English, and I can help correct Emails. " +
            "If you're just learning for fun, we can discuss interesting things like accents. " +
            "If you wanna learn everything, we can do that too!<br/><br/>" +
            "For conversation practice, I like to theme topics around your hobbies and interests, " +
            "so you can have fun while expressing your genuine thoughts!"
    },
]

const programmingFAQs = [
    {
        id: "faq-programming-details",
        q: "🤔 What are your programming lessons like?",
        a: "It depends on your experience and learning style, " +
            "but broadly speaking we'll start by introducing the basics, " +
            "and then mix in new concepts and ideas as we go along. " +
            "I like presenting problems and trying to lead my students to discover solutions on their own, " +
            "but some people prefer to see examples first before practicing, " +
            "so we can see which method works best for you!<br/><br/>" +
            "It's best if you can bring your own laptop, but if you do not have one, " +
            "let me know and I'll see if we can work something out :)"
    },
    {
        id: "faq-programming-languages",
        q: "📌 What languages do you teach?",
        a: "Python, Java,<br/>C, C++, C#,<br/>Web (HTML, CSS, JavaScript),<br/>Lua, Kotlin"
    },
    {
        id: "faq-programming-idk",
        q: "🔰 It's my first time learning programming. Which language should I start with?",
        a: "That's no problem! For your first language, a good choice might be Python! " +
            "It's more simple than other languages, but can be used in almost any situation. " +
            "But if you have any questions, we can discuss it and decide at your first lesson :)"
    },
    {
        id: "faq-programming-english",
        q: "💬 I want to practice English too!! Is that okay?",
        a: "Sure!! Programming lessons can be taught using only Japanese, only English, or a mixture of both! " +
            "Learning something new in a second language is an excellent way to improve your skills, " +
            "so I strongly recommend it to those who have some English ability!!"
    },
]

const categories = [
    {name: "", faqs: generalFAQs},
    {name: "English", faqs: englishFAQs},
    {name: "Programming", faqs: programmingFAQs},
]

const pricePerHour = 30; // Update as needed
---
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Connor Bell Tutoring</title>
    <meta name="description" content="One-on-one personalized English and programming tutoring in Osaka!">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://tutoring.cjbell.nexus">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Connor Bell Tutoring">
    <meta property="og:description" content="One-on-one personalized English and programming tutoring in Osaka!">
    <meta property="og:image" content="https://tutoring.cjbell.nexus/social-preview.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="tutoring.cjbell.nexus">
    <meta property="twitter:url" content="https://tutoring.cjbell.nexus">
    <meta name="twitter:title" content="Connor Bell Tutoring">
    <meta name="twitter:description" content="One-on-one personalized English and programming tutoring in Osaka!">
    <meta name="twitter:image" content="https://tutoring.cjbell.nexus/social-preview.jpg">
</head>
<HeroSection name="Connor Bell" image="/profile.jpg" details="Expert Tutor | 1-on-1 Learning | Personalized Lessons"/>
<SubjectsSection subjects={subjects}></SubjectsSection>

<FAQSection categories={categories}/>
<ContactButton url={lineURL}/>

<style>
    body {
        background-color: #F1E6F6; /* Soft pastel background for the whole page */
        margin: 0;
        font-family: 'Helvetica Neue', sans-serif;
        color: #5A2A8C;
    }

    section {
        margin-bottom: 2rem;
    }
</style>
