---

---

<a href="https://lin.ee/F0ziwOI" class="contact-button">
    <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" />
</a>

<style>
    .contact-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    }

    .contact-button img {
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .contact-button:hover {
        transform: scale(1.1); /* Scale the button on hover */
        //box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* Make shadow more prominent */
    }
</style>