---
const {title, description, bullets} = Astro.props;
---
<div class="card">
    <h2>{title}</h2>
    <p>{description}</p>
    <ul class="description-list">
        {bullets.map((point) => (
                <li>{point}</li>
        ))}
    </ul>
    <button class="details">Details</button>
</div>

<style>
    .card {
        background: #F3E5F5; /* Light Pastel Purple */
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 350px;
        text-align: center;
        transition: transform 0.3s ease;
        margin-bottom: 2rem;

    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card h2 {
        color: #7B1FA2; /* Darker Purple */
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .card p {
        color: #333;
        font-size: 1rem;
        font-weight: 400;
    }

    .details {
        background-color: #5A2A8C; /* Soft purple color */
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 1rem;
    }

    .details:hover {
        background-color: #7B1FA2; /* Darker purple on hover */
        transform: translateY(-3px);
    }

    .details:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(90, 42, 140, 0.7); /* Purple focus outline */
    }

    .description-list {
        list-style-type: disc;
        margin-left: 1.5rem; /**/
        padding-left: 0;
        font-size: 1rem;
        color: #333;
        //text-align: left; /* Ensure text is aligned left */

    }

    .description-list li {
        margin-bottom: 0.5rem;
    }

</style>
